[Unit]
Description=AFNET Amiga FTP client network
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
RestartSec=60
WorkingDirectory=%h/.afnet/afnet_1.0-1/etc/afnet/
ExecStart=%h/.afnet/bin/afnet-service.sh
ExecStop=/usr/bin/touch %h/.afnet/afnet-shutdown.txt
ExecStop=/bin/sleep 5
StandardOutput=null

[Install]
WantedBy=multi-user.target
